{
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"printWidth": 100,
	"endOfLine": "auto",
	"singleAttributePerLine": true,
	"overrides": [{ "files": "*.md", "options": { "useTabs": false, "tabWidth": 2 } }]
}
